target
.vscode
.metals
.bloop
**/test_run_dir

# vivado stuffs
**/*.jou
**/*.log

**/hello_z710-test
**/riscv-z710-v2020
.Xil

docs

bin
yatcpu/lib64

*.xpr
*.v
*.fir
*.vhdl
*.vhd
*.wdf
*/vivado/*
*/verilog/*
*.sbt
